@model SFO2O.Admin.ViewModel.PageOf<AdminRoleInfo>
@using SFO2O.Admin.Common;
@using SFO2O.Admin.Models;
@using SFO2O.Admin.Models.Admin;
@{
    ViewBag.Title = "用戶分組";
    ViewBag.PageName = "GroupList";
    var permissionSet = ViewData["PermissionSet"] as HashSet<EnumPermission>;
}

<div class="cont_right_crumb"><span class="homepage"></span>&gt; 賬號管理 &gt; 用戶分組</div>
<div class="w931">
    <div class="mg_t30">
        <div class="tongji_title"><span class="tongji_title_l">用戶分組列表</span></div>
        @if (permissionSet.Contains(EnumPermission.Account_RoleManage_Add))
        {
            <div class="t_r wrap_dr_sc">
                <div class="dr_sc"><a href="@Url.Action("EditGroup")" class="addpro_btn btn_sc mg_l10"><i></i>添加分組</a></div>
            </div>
        }
        <div>
            <table class="fff_bor t_c f15" width="930">
                <tr class="lineH36 bg_f8f8f8">
                    <th width="360" class="bor_b">分組名稱</th>
                    <th width="540" class="bor_b">操作</th>
                </tr>
                @if (Model != null && Model.Items != null && Model.Items.Count > 0)
                {
                    foreach (var role in Model.Items)
                    {
                    <tr class="lineH54">
                        <td class="bor_b">@role.RoleName</td>
                        <td class="bor_b">
                            @if (permissionSet.Contains(EnumPermission.Account_RoleManage_ViewUser))
                            {
                                <a href="javascript:void(0)" class="col_link mg_r30" onclick="ViewGroupUsers('@role.RoleName',@role.id)">查看分組用戶</a>
                            }
                            @if (permissionSet.Contains(EnumPermission.Account_RoleManage_Edit))
                            {
                                <a href="@Url.Action("EditGroup", new { id = @role.id })" class="col_link mg_l30 mg_r30">修改</a>
                            }
                            @if (permissionSet.Contains(EnumPermission.Account_RoleManage_Delete))
                            {
                                <a href="javascript:void(0)" class="col_link mg_l30" onclick="DeleteGroup(@role.id,@role.UserCount)">刪除</a>
                            }
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr class="lineH54">
                        <td class="bor_b" colspan="2">
                            <p class="pd_l30 t_l color_green">您還沒有設置用戶分組</p>
                        </td>
                    </tr>
                }
            </table>
        </div>
        @if (Model != null && Model.Items != null && Model.Items.Count > 0)
        {
            <div class="page" id="userpage">
                @Html.ShowFPage(Url.Action(null
                , new
                {
                    PageIndex = "{0}"
                })
                , Model.PageIndex
                , Model.Total)
                <p class="f14 mg_l20 mg_b5 inline">
                    共<em class="color_green pd_l10 pd_r10"> @(Model.Total) </em>條數據
                </p>
            </div>
        }
    </div>
</div>
@Html.Script("/Scripts/Dialog.js")
<script type="text/javascript">
    function ViewGroupUsers(roleName, roleID) {
        id = roleID | 0;
        $.post("ViewGroupUsers", { id: id }, function (html) {
            $.dialog({
                title: roleName + "分組成員",
                content: html
            });
        });
    }
    function DeleteGroup(id, userCount) {
        if (userCount) {
            $.dialog({
                title: "警告",
                width: 470,
                content: '<p class="pd_t20 pd_b5"><span>由于部分後台用戶隸屬于該分組，因此不能刪除。 請點擊“查看分組用戶”，查看用戶情况。</span></p><p class="pd_t10 pd_b30"><span>如需刪除該分組，請在“後台用戶”菜單中將對應的用戶分組取消後，再進行刪除操作。</span></p>',
                buttons: { text: "知道了" }
            });
            return;
        }
        $.dialog({
            title: "提示",
            width: 470,
            content: "您確認要刪除該分組嗎？",
            buttons: [{ text: "取消", isWhite: true },
                {
                    text: "確定",
                    onClick: function () {
                        $.ajax({
                            url: "DeleteGroup",
                            type: "post",
                            data: { id: id },
                            success: function (res) {
                                if (!res.Error) {
                                    $.dialog({
                                        content: "刪除成功！",
                                        onConfirm: function () {
                                            window.location.reload();
                                        }
                                    });
                                } else {
                                    if (res.Message) {
                                        $.dialog(res.Message);
                                    }
                                    else {
                                        $.dialog("刪除失敗！");
                                    }
                                }
                            }
                        });
                        return true;
                    }
                }]
        });
    };
</script>
